<% if(withStylesheet){ %>
    <link rel="stylesheet" href="/stylesheets/showtimesCard.css">
<% } %>
<div class="showtimes-card col-sm-6 col-lg-4">
    <div class="card bg-dark text-white ratio ratio-3x2 mb-3">
        <img src="<%= movie.posterUrl %>" alt="<%= movie.title %> Poster" class="card-img">
        <div class="card-img-overlay">
            <h5 class="card-title"><%= movie.title %></h5>
            <p>Run Time: 140min</p>
            <p>Directed By: Frank Capra</p>
            <p>Starring: Clark Gable, Claudette Colbert, Alan Hale</p>
            <p>MPAA Rating: NR</p>
            <a href="movies/<%= movie._id %>" class="btn btn-primary">Details</a>
        </div>
    </div>
</div>