<%- include("partials/header.ejs") %>

<h1>Edit Page Content</h1>

<form action="<%= pageName %>/edit" method="post">
    <label for="page-header">Name</label>
    <input type="text" name="name" id="page-header">
    <label for="htmlContent"></label>
    <textarea name="content" id="htmlContent" cols="30" rows="10"></textarea>
    <input type="submit">
</form>

<%- include("partials/footer.ejs") %>