<%- include("partials/header.ejs") %>

<div class="container">
    <form action="/new" method="post" enctype="multipart/form-data">
        <input class="form-control" type="text" name="title" id="movie-title">
        <input class="form-control" type="file" name="banner" id="movie-banner">
        <div class="form-group" id="showtimes-div">
            
        </div>
        <input class="form-control" type="submit">
    </form>
    <button onclick="addShowtime()">Add Showtime</button>
</div>

<%- include("partials/footer.ejs") %>