<%- include("partials/header.ejs") %>

<h1>Showtimes</h1>
<% allMovies.forEach(movie => { %>
    <%- generateShowtimesCard(movie, sortedShowtimes[movie.id]) %> 
<% }) %>
<%- include("partials/footer.ejs") %>