.navbar-nav {
    width: 100%;
    padding-top: 130px;
    display: flex;
    justify-content: space-evenly;
}

.navbar {
    height: 110px;
    perspective: 500px;
}

.nav-item {
    font-size: 1.5em;
}

#home-link{
    transform: translateY(-50px);
    perspective: 500px;
}

#cinema-logo {
    height: 180px;
    /* transform: translateY(-50px); */
    border-radius: 100%;
    border: 1px solid #444444;
    transition: all 0.7s;
}

#cinema-logo:hover {
    transform: rotateZ(-20deg) translateZ(50px) translateZ(50px);
    transform-origin: center;
}

.container.main-content {
    padding-top: 90px;;
}

#image-on-details-view {
    width: 100%;
}

.showtimes-card {
    border: 2px solid red;
    margin-bottom: 5em;
    padding-right: 4em;
}

.showtimes-card img {
    width:80%;
}

.showtimes {
    list-style: none;
    font-weight: 700;
    border-left: 1px solid grey;
}

.showtime-times-ul {
    list-style: none;
    font-weight: 400;
}

.showtimes-card-col-1 {
    text-align: center;
    border-right: 2px solid grey;
}
.blog-post {
    border: 2px solid grey;
}