.card-img-overlay {
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: all 1s;
    text-align: center;
}

.card:hover .card-img-overlay{
    opacity: 1;
}

.card-title {
    font-size: 1.8em;
}

.ratio-3x2 {
    --aspect-ratio: 150%;
}

.movie-details-header-img {
    width: 100%;
    text-align: center;
}

#movie-details-img {
    width: 100%;
}

/* .showtimes-card {
    border: 2px solid red;
    margin-bottom: 5em;
    padding-right: 4em;
} */

/* .showtimes-card img {
    width:80%;
} */

/* .showtimes {
    list-style: none;
    font-weight: 700;
    border-left: 1px solid grey;
} */

/* .showtime-times-ul {
    list-style: none;
    font-weight: 400;
} */

/* .showtimes-card-col-1 {
    text-align: center;
    border-right: 2px solid grey;
} */