<% layout('layouts/boilerplate') %>

<h1>Showtimes</h1>
<% allMovies.forEach(movie => { %>
    <%- include("../partials/showtimesCard.ejs", {movie, showtimesByDate: sortedShowtimes[movie.id], detailed: false}) %>
<% }) %>