<% layout('layouts/boilerplate') %>

<h1>Showtimes</h1>
<% allMovies.forEach((movie, i) => { %>
<% let isFirst = i === 0 ? true : false %> 
    <%- include("../partials/showtimesCard.ejs", {movie, showtimesByDate: sortedShowtimes[movie.id], detailed: false, withStylesheet: isFirst}) %>
<% }) %>