<% layout('layouts/boilerplate') %>

<!-- <div class="movie-lookup">
    <input type="text" id="search-title">
    <button onclick="searchForMovie()">Search</button>
</div> -->
<!-- <div id="movie-result"></div> -->
<form action="/movies/new" method="post" enctype="multipart/form-data">
    <div class="form-group pb-3">
        <label for="movie-title" class="form-label">Title</label>
        <input class="form-control" type="text" name="title" id="movie-title">  
    </div>
    <div class="form-group pb-3">
        <label for="movie-banner" class="form-label">Banner Image</label>
        <input class="form-control" type="file" name="banner" id="movie-banner">
    </div>
    <div class="form-group pb-3">
        <label for="movie-poster" class="form-label">Poster Image</label>
        <input class="form-control" type="file" name="poster" id="movie-poster">
    </div>
    <div class="form-group pb-3">
        <label for="runtime" class="form-label">Runtime</label>
        <input class="form-control" type="number" name="runtime" id="runtime">
    </div>
    <div class="form-group pb-3">
        <label for="director" class="form-label">Director</label>
        <input class="form-control" type="text" name="director" id="director">
    </div>
    <div class="form-group pb-3">
        <label for="starring" class="form-label">Starring</label>
        <input class="form-control" type="text" name="starring" id="starring">
    </div>
    <div class="form-group pb-3">
        <label for="mpaa" class="form-label">MPAA Rating</label>
        <input class="form-control" type="text" name="mpaa" id="mpaa">
    </div>
    <button class="btn btn-primary mb-3" type="button" onclick="addShowtime()">Add Showtime</button>
    <div class="form-group pb-3" id="showtimes-div">
        
    </div>
    <input class="form-control btn btn-success" type="submit">
</form>